@layout('blank')

@section('content')
  <div class="container py-3">
    <h1>Erro 404</h1>
    <p>Lamentamos, mas a página que você procura não foi encontrada.</p>
    <p>Clique <a href="/">aqui</a> para voltar à página inicial ou <a href="#" onClick="window.history.back()">aqui</a> para voltar à página anterior.</p>
  </div>
@endsection
