<footer class="bg-dark py-4">
  <div class="container">
    <div class="mb-2 text-white">Copyright &copy; System. Alguns direitos reservados.</div>
    <div class="linklist">
      <a href="/" class="text-white">Página Inicial</a>
      <a href="#" class="text-white">Central de Ajuda</a>
      <a href="#" class="text-white">Política de Privacidade</a>
    </div>
  </div>
</footer>
